/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
a {
	color: inherit;
	text-decoration: none;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.banner-admin {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: black;
  }

  .banner-p {
	font-family: "Work Sans";
	color: white;
  }

.filters {
	align-items: center;
	justify-content: center;
	display: flex;
	width: 50%;
	gap: 10px;
	margin: auto;
	
}
.filter {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	margin-bottom : 8%;
	padding: 10px;
	text-align: center;
	border-width: 1px;
	border-radius: 60px ;
	border-color: #1D6154;
	display: inline-block;
}
.filter:active {
	background-color: #1D6154;
	color: white;
}

.filter.clicked {
    background-color: #1D6154;
    color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.password {
	text-decoration: underline;
}

.error {
	color: red;
}

.input-error {
	border: 1px solid red !important;
}

.modal {
	width: 50%;
	border-radius: 10px;
	border: none;
}

.modal_galery {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal_add_photo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.base-class {
	/* Style de base pour réinitialiser */
	display: block;
	width: 100%;
	height: auto;
  }

  /* Classe spécifique pour débogage */
.debug-style {
	border: 2px solid red; /* Exemple de style visible */
  }

.hidden {
	display: none;
}

.private-content {
	display: none;
}

.section-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.modifyWorks {
	margin-bottom: 25px;
}

.button_modal {
	font-family: 'Work Sans';
	background: none;
	border: none;
}

.title_modal {
	font-family: 'Work Sans';
	font-size: 26px;
	text-align: center;
	padding: 50px 0 30px 0;
}

.modalDisplayWorks {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.modalWorks {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.thumbnail {
	width: 18%;
	position: relative;
}

.thumbnail img {
	width: 100%;
}

.thumbnail-img {
	height: 200px;

}

.delete {
	background-color: #000000;
	position: absolute;
	width: 17px;
	height: 17px;
	top: 5px;
	right: 5px;
	padding: 2px;
	color: white;
	border-radius: 2px;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.upload-works {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #e8f1f6;
	border-radius: 3px;
}

.upload-works-img {
	width: 70px;
	height: 70px;
	margin-top: 10px;
}

#getFile {
	display: none;
}

.add-img {
  background: #e8f1f6;
  border-radius: 3px;
  cursor: pointer;
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.addPhoto {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #cbd6dc;
	color: #306685;
	border-radius: 50px;
	width: 40%;
	height: 36px;
	text-align: center;
	font-size: 14px;
	font-family: 'Work Sans';
	margin: 10px 0 0 0;
}

.formatPhoto {
	font-size: 10px;
	font-family: 'Work Sans';
	margin: 10px 0 20px 0;
}

#title-image {
  padding: 14px;
  width: 80%;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  color: #444444;
}

.label-name {
	margin-right: 80%;
	margin-top: 20px;
}

.label-ctg {
	margin-right: 74%;
	margin-top: 20px;
}

.select {
	padding: 14px;
	appearance: none;
	background-image: url('./icons/angle-down.png');
	background-repeat: no-repeat, repeat;
	background-position: right 20px top 50%, 0 0;
	background-size: 12px auto, 100%;
	width: 84%;
	color: #444444;
	border: none;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.line {
	border: 1px solid #B3B3B3;
	width: 80%;
	margin-top: 50px;
}

.input_modal {
	height: 50px;
	border: none;
	padding-left: 10px;
	width: 40% !important;
}

.input_modalGrey {
	height: 50px;
	border: none;
	padding-left: 10px;
	width: 40% !important;
	background-color: #A7A7A7 !important;
}

.button_close {
	background: none;
	border: none;
	position: absolute;
    top: 0;
    right: 0;
	padding: 30px;
	font-size: 20px;
}

.button_back {
	background: none;
	border: none;
	position: absolute;
    top: 0;
    left: 0;
	padding: 30px;
	font-size: 20px;
}

  
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
}

